.inputContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 0.3rem;
  border-bottom: 0.5px solid var(--gray);
  border-top: none;
  color: var(--font-color);
}

div.disabled>.label {
  margin-bottom: 0;
}

.inputContainer.disabled {
  background-color: transparent;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 0.3rem;
  border: none;
}

.input {
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  border: none;
  padding: 0.3rem 0.1rem;
  font: 400 1rem / 1.5 var(--font-family);
  color: var(--font-color);
  height: 2.5rem;
}

.input:focus {
  outline: none;
}

.input:focus.input:not(.errorBorder) {
  border-bottom: 2px solid var(--main-color);
}

.input::placeholder {
  font: 400 1rem / 1 var(--font-family);
  font-size: 1rem;
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.labelContainer {
  margin-top: 1rem;
}

.label {
  display: block;
  height: 1rem;
  font: 400 0.9rem / 1rem var(--font-family);
  color: var(--white);
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: all 0.1s ease-in-out;
}

.fakePlaceholder {
  font-size: 1rem;
  bottom: 0.7rem;
  left: 0.1rem;
  cursor: text;
}

.errorBorder {
  border-bottom: 2px solid red;
  outline: none;
}

.error {
  display: block;
  color: red;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 0.3rem;
}

.small {
  width: 40%;
}

.medium {
  width: 70%;
}

.large {
  width: 100%;
}

.showPassword {
  position: absolute;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  right: 0;
  display: flex;
  align-items: center;
}

.faEye {
  width: 50%;
  height: 50%;
  cursor: pointer;
}